body
    {
        background-color:lightgrey;
    }

.content
    {
        position: relative;
        margin: 5% 10%;
        padding: 2% 5%;
        overflow:hidden;
        background-color: white;
    }

img
    {
        margin: 15px;
        float: left;
        display: block;
        height: 200px;
        widows: 200px;
    }

.footer
    {
        background-color:red;
    }

.footer a
    {
        background-color: red;
    }

    